@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p style="font-size:large;">
    Here is what RateMe is all about- it helps a user to select their choice of entertainment so they never regret their time spent. 
    It allows a user to visit the reviews created by other users and add new reviews for an existing entertainment property. Users can create, edit, and delete a new Movie, Music, and Show if it is not already existing. Upon creating the entertainment property a user can leave reviews for it. To add reviews users must locate existing entertainment or create add a new one.
</p>
