@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RateMe</h1>
    <p class="lead">RateMe is a free platform for users to visit existing reviews or create a new review for their favorite Movie, Music, or Show.  </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Post Reviews On Exising Entertainment</h2>
        <p>
            
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>See The Average Rating</h2>
        <p></p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Create Your Entertainment</h2>
        <p></p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>